.bg-gradient-primary {
  background-color: #fff5ee;
}
.chart {
  width: 950px !important;
  margin: 0 auto;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.datepick {
  background-color: #fff;
  padding: 15px;
  top: 50%;
  left: 50%;
  font-family: "Roboto Mono", monospace;
  color: #525f7f;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 11px 12px 10px rgb(141 127 0 / 20%);
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.filters-bar {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 20px;
}
select {
  width: 200px;
  background-color: #fff;
  padding: 15px;
  top: 50%;
  left: 50%;
  font-family: "Roboto Mono", monospace;
  color: #525f7f;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 11px 12px 10px rgb(141 127 0 / 20%);
}

.rounded-button {
  border-radius: 50%; /* Make the button round */
  width: 50px; /* Set the button width */
  height: 50px; /* Set the button height */
  background-color: #ffd600;
  color: #ffffff;
  border: none; /* Remove button border */
  display: flex; /* Use flexbox for centering content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* Styles for the reload icon */
.rounded-button i {
  transform: rotate(0deg); /* Initial rotation angle for the icon */
  transition: transform 0.5s ease; /* Add transition effect */
}

/* Hover effect for the reload icon */
.rounded-button:hover i {
  transform: rotate(360deg); /* Rotate the icon 360 degrees on hover */
}

.grid-table {
  flex: 1; /* Allow the container to take up remaining vertical space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.navbar {
  background-color: #333;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
